@import './base.css';

body {
  background-color: rgb(51, 51, 51);
}

#app {
  font-weight: normal;
  padding: 2rem;
}

a,
.green {
  text-decoration: none;
  color: rgb(226, 226, 226);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 60%, 0.2);
  }
}

@media (min-width: 1024px) {
}
